.portfolio li {
  width: 200px;
  font-size: 1.3rem;
  margin-left: 2rem;
  border-radius: 10px;
  font-weight: 200;
  color: white;
  cursor: pointer;
  display: flex;
  transition: all ease 0.3s;
  justify-content: center;
  align-items: center;
}

.portfolio li:hover {
  transform: scale(1.04);
}

.portfolio li.active {
  background-color: rgb(118, 67, 170);
  color: rgb(253, 103, 130);
  font-weight: 500;
  padding: 0;
}

@media screen and (max-width: 1210px) {

  .portfolio li{
    padding: 0;
    margin-right: 50px;
  }
}


@media screen and (max-width:850px){
  .portfolio li{
    font-size: 15px;
    margin-right: 15px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
  }

  
}