.intro {
  background: white;
  display: flex;
  overflow: hidden;
}

.intro .left {
  width: 100%;
  height: 100%;
  flex: 0.5;
  overflow: hidden;
}

.left .imgContainer {
  width: 800px;
  height: 800px;
  border-radius: 50% 50% 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  position: relative;
  overflow: hidden;
}

.imgContainer img {
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.intro .right {
  position: relative;
  flex: 0.5;
}
.right .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  text-align: center;
}

.right a img {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  animation: down 0.5s infinite alternate;
}

@keyframes down {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}

.wrapper h1 {
  font-size: 4.5rem;
  font-weight: 700;
}
.wrapper h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.wrapper h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
}

h3 span {
  color: crimson;
}

.ityped-cursor {
  animation: cursor 0.6s alternate infinite;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1307px) {
  .intro{
    flex-direction: column;
  }

  .left .imgContainer{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .imgContainer img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .right .wrapper{
    align-items: center;
  }

  .wrapper h1 {
    font-size: 3.5rem;
    margin: 20px 0;
  }

  .wrapper h2 {
    font-size: 2.5rem;
  }

  .wrapper h3 {
    font-size: 2rem;
    margin-top: 0;
  }
}


@media screen and (max-width:850px) {
  .wrapper h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }

  .wrapper h2 {
    font-size: 1.5rem;
  }

  .wrapper h3 {
    font-size: 1rem;
    margin-top: 0;
  }

  .wrapper{
    padding-top: 0;
  }

  .intro .left{
    flex: 0.7;
  }

  .left .imgContainer{
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: relative;

  }

  .imgContainer img{
    position: absolute;
    top: 5%;
    width: 450px;
    height: 450px;
    border-radius: 50% 50% 0 0;
  }
  .right a img{
    bottom: 10%;
    width: 30px;
    height: 30px;
  }

  .intro-animate{
    width: 100vw;
  }
  
}
