.contact{
    background-color: rgb(44, 39, 39);
}

.contact-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cLeft{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 240, 240);
}

.cRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 108, 136);
    align-items: center;
    justify-content: center;    
}

.cRight h1{
    font-size: 2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
}

form input{
    width: 70%;
    padding: 0 15px;
    height: 45px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    color: crimson;
}

form textarea{
    width: 70%;
    height: 75px;
    margin: 1.5rem 0;
    border: none;
    color: crimson;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 15px 15px 0;
}

form button{
    width: 40%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(224, 21, 61);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.5s;
}

form button:hover{
    transform: scale(0.9);
}

form input:focus, form textarea:focus, button:focus{
    outline: none;
}